<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Restaurant_Manager.Properties.Settings.restaurantDBConnectionString"
            connectionString="Data Source=LAPTOP-OH2IC4QE\SQLEXPRESS;Initial Catalog=restaurantDB;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>